h2 {
  margin-top: 3em;
}
.white-text {
  color: rgb(20, 20, 20);
}

.biru {
  background-color: #9dc020;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.biru:hover {
  background-color: #0056b3;
}

.berita-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.berita-card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-weight: bold;
  margin-bottom: 0.75rem;
}
